<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        
        <!-- Flash messages for errors/success -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-message">
                    {% for category, message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <form method="POST">
            {{ form.hidden_tag() }}
            <label for="username">User:</label>
            {{ form.username(class="input") }}
            
            <label for="password">Password:</label>
            {{ form.password(class="input") }}
            
            {{ form.submit(class="btn") }}
        </form>
</body>
</html>